  <div class="map-container">
    <div id="map"></div>

    <div class="search-bar">
      <app-searchbar></app-searchbar>
    </div>
    <div class="miles-tokens">
      <mat-icon
        (click)="getUserPickups()"
        [inline]="true"
        [matBadge]="milesCounter"
        matBadgeSize="medium"
        matBadgeColor="warn"
        >ev_station</mat-icon
      ><br /><span class="miles-text">Miles</span>
    </div>

    <ng-container *ngIf="selectDestination">
      <div class="destination-header-container">
        <mat-card class="select-destination-header">
          <p>Select Destination to complete Pickup.</p>
        </mat-card>
      </div>
    </ng-container>
  </div>
  <app-navigation> </app-navigation>
