@import "@tomtom-international/web-sdk-maps";

.map-container {
  position: relative;
}

#map {
  height: 85vh;
  width: 100vw;
  position: absolute;
}

.search-bar {
  font-size: 125%;
  position: absolute;
  width: 75%;
  margin-left: 1%;
  margin-top: 1%;
  background: rgba(51, 170, 51, 0.4);
  border-radius: 5px 5px;
}

.search-bar-form-field {
  width: 100%;
}

#user-pickup-marker {
  background-image: url("../../../assets/user-created-pickups-blue.png");
  background-size: cover;
  width: 40px;
  height: 50px;
}

#available-pickup-marker {
  background-image: url("../../../assets/available-pickups-green.png");
  background-size: cover;
  width: 40px;
  height: 60px;
}

.popup-container {
  padding: 0%;
}

.popup-title-container {
  display: flex;
  text-align: center;
  align-items: center;
}

.popup-address{
  text-align: center;
  font-size: 150%;
  font-weight: 300;
  color: #00c853;
}


.popup-firstname{
  text-align: center;
  font-size: 180%;
  font-weight: 400;
  color: #00c853;
}
