<mat-card>
  <mat-card-title> Journey History </mat-card-title>

  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="column">
        <p>Host/Passenger</p>
      </div>
      <div fxLayout="column">
        <p>Miles</p>
      </div>
      <div fxLayout="column">
        <p># Passengers</p>
      </div>
    </div>
    <div *ngFor="let trans of this.transactionList" class="item-container">
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        [ngClass]="trans.isHost ? 'is-host' : 'not-host'"
      >
        <div fxLayout="column">
          <p>{{ trans.isHost ? "hosted" : "passenger" }}</p>
        </div>
        <div fxLayout="column">
          <p>{{ trans.totalMilesTravelled }}</p>
        </div>
        <div fxLayout="column">
          <p>{{ trans.totalNumPassengers }}</p>
        </div>
      </div>
      <div fxLayout="row">
        <p>Embark Address</p>
      </div>
      <div fxLayout="row">
        <p class="address-text">{{ trans.embarkAddress }}</p>
      </div>
      <div fxLayout="row">
        <p>Destination Address</p>
      </div>
      <div fxLayout="row">
        <p class="address-text">{{ trans.returnAddress }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
