<div>
<mat-card>
<mat-card-header>
  <div fxFlex="row">
    <div fxFlex="column">
      <div mat-card-avatar ></div>
    </div>
    <div fxFlex="column">
      <div fxFlex="row">
        <p>username</p>
      </div>
      <div fxFlex="row">
        user rating:
      </div>
    </div>
  </div>
</mat-card-header>

<mat-card-content>
<mat-expansion-panel>
  <mat-expansion-panel-header>User Reviews</mat-expansion-panel-header>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>User Pickups</mat-expansion-panel-header>

</mat-expansion-panel>
</mat-card-content>
</mat-card>

</div>
