<div *ngIf="isHost">
  <mat-card>
    <mat-card-content>
      <div>
        <h4>
          Passengers Joined: <span>{{ this.numPassengersJoined }}</span>
        </h4>
        <mat-action-list>
          <div *ngFor="let item of this.response">
            <button mat-list-item (click)="goToUser()" >
              {{ this.item.forename }}
              <ng-container *ngIf="userChecked"
                ><span
                  ><mat-icon>check_circle_outline</mat-icon>
                </span></ng-container
              >
            </button>
          </div>
        </mat-action-list>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="scanPassengerModal()">Scan Passenger</button>
      <button (click)="autoCompleteJourney()">AutoComplete Journey</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="!isHost">
  <mat-card>
    <mat-card-content>
      <h4>Waiting for host to start journey..</h4>
      <p>
        Passengers: <span>{{ this.numPassengersJoined }}</span>
      </p>
      <mat-action-list *ngFor="let item of this.response">
        <button mat-list-item (click)="goToUser()">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span> {{ this.item.forename }} </span>
            <ng-container *ngIf="userChecked"
              ><span
                ><mat-icon>check_circle_outline</mat-icon>
              </span></ng-container
            >
          </div>
        </button>
      </mat-action-list>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="joinJourney()">Join Journey</button>
    </mat-card-actions>
  </mat-card>
</div>
