
.container{
  width:100%;
}


.user-image{
  width: 85%;
  height: 85%
}

.user-data-title{
font-size: 125%;
font-weight: 500;
padding-bottom: 0;
}

.subheading-container{
  margin-left: 2%;
}

.user-data-subtitle{
  font-size: 100%;
  font-weight: 500;
  }

.user-pickup-text{
  font-size: 85%;
  font-weight: 400;
}

.miles-travelled-title{
  margin-top: 1%;
}

