
.container{
  width:100%;
}


.user-image{
  width: 85%;
  height: 85%
}

.user-data-title{
font-size: 125%;
font-weight: 500;
padding-bottom: 0;
}

.subheading-container{
  margin-left: 2%;
}

.user-data-subtitle{
  font-size: 100%;
  font-weight: 500;
  }

.user-pickup-text{
  font-size: 85%;
  font-weight: 400;
}

.miles-travelled-title{
  margin-top: 1%;
}

.passenger-active{
  background-color: #00c853;
  font-size: 160%;
  font-weight: 400;
}

.host-active{
  padding:1%;
  background-color: #ff1744;
  color: antiquewhite;
  font-size: 140%;
  font-weight: 400;

}

.is-passenger-container{
  max-width: 100%;
  padding: 1%;
}

.is-passenger-title{
  text-align: center;
  font-size: 180%;
  font-weight: 450;
}

