<section >

  <mat-card class="top-card">

  </mat-card>
  <mat-card class="logo-img-card" fxLayout="row" fxLayoutAlign="center center">

    <img src="../../../assets/beeplogo.png" alt="test" width="400" height="320">
  </mat-card>
  <mat-card class="hero-card-mid">


    <mat-divider class="hero-card-one-divider" inset="true"></mat-divider>

    <mat-divider class="hero-card-one-divider" inset="true"></mat-divider>
  </mat-card>
</section>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Register">
    <mat-card class="card-container">
      <mat-card-title class="signup-modal-title" fxLayoutAlign="center center ">
        Create an account
      </mat-card-title>
      <form
        class="form-custom"
        [formGroup]="registerForm"
        (ngSubmit)="registerAccount()"
      >
        <mat-form-field class="form-field-custom" hintLabel="">
          <mat-label>Email address..</mat-label>
          <input
            type="email"
            matInput
            placeholder="Your Email.."
            required
            formControlName="email"
            name="email"
          />
        </mat-form-field>
        <mat-form-field class="form-field-custom">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Password please.."
            formControlName="password"
            name="password"
            minlength="8"
            required
          />
        </mat-form-field>
        <mat-form-field class="form-field-custom">
          <mat-label>Forename</mat-label>
          <input
            type="text"
            matInput
            placeholder="your first name here.."
            formControlName="forename"
            name="forename"
            required
          />
        </mat-form-field>
        <mat-form-field class="form-field-custom">
          <mat-label>Surname</mat-label>
          <input
            type="text"
            matInput
            placeholder="surname here.."
            formControlName="lastName"
            name="lastName"
            required
          />
        </mat-form-field>
        <div
          mat-dialog-actions
          fxLayout
          fxLayoutAlign="center"
          class="btn-container"
        >
          <button type="submit" mat-raised-button class="submit-btn">
            Register
          </button>
        </div>
      </form>
      <mat-card-footer *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </mat-tab>
  <mat-tab label="Login">
    <mat-card class="card-container">
      <mat-card-title class="signup-modal-title">
        Login to an existing account
      </mat-card-title>
      <form
        class="form-custom"
        [formGroup]="loginForm"
        (ngSubmit)="loginAccount()"
      >
        <mat-form-field class="form-field-custom" hintLabel="">
          <mat-label>Email address..</mat-label>
          <input
            type="email"
            matInput
            placeholder="Your Email.."
            required
            formControlName="email"
            name="email"
          />
        </mat-form-field>
        <mat-form-field class="form-field-custom">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Password please.."
            formControlName="password"
            name="password"
            minlength="8"
            required
          />
        </mat-form-field>
        <div
          mat-dialog-actions
          fxLayout
          fxLayoutAlign="center"
          class="btn-container"
        >
          <button type="submit" mat-raised-button class="submit-btn">
            Login
          </button>
        </div>
      </form>
      <mat-card-footer *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </mat-tab>
</mat-tab-group>
