.top-card{
  border-radius: 0%;
  border: 0;
  box-shadow: 0;
  background-image: linear-gradient(#009624,0%, #00c853, 60%,#5efc82);
}

.logo-img-card{
border-radius: 0%;
border: 0;
box-shadow: 0;
}

.pickup-modal-container{
  padding: 0%;
}

.card-container{
  margin: 5%
}
