<mat-card>
  <mat-card-header fxLayoutAlign="center center">
    Pickups you have joined
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column">
      <div
        fxLayout="row"
        fxLayoutAlign="space-around center"
        *ngFor="let pickup of this.data.userPassengerPickupList"
      >
        <div fxLayout="column" class="user-pickup-container">
          <div fxLayout="row">
            <div
              fxLayout="column"
              class="user-pickup-header-container"
              fxLayoutAlign=" start"
            >
              <p class="date-text">{{ pickup.date | date: "shortDate" }}</p>
              <p></p>
            </div>
            <div
              fxLayout="column"
              fxLayoutAlign=" center"
              class="title-text-cont"
            >
              <p class="title-text">{{ pickup.hostInfo.firstName }}'s Pickup</p>
            </div>
            <div fxLayout="column" fxLayoutAlign=" end" class="star-container">
              <star-rating
                size="10"
                [starType]="'svg'"
                [readOnly]="true"
                [rating]="this.pickup.hostInfo.avgScore"
              ></star-rating>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxLayout="column" fxLayoutAlign=" start">
              <p class="title-text">Embark Address</p>
              <p></p>
            </div>

            <div fxLayout="column" fxLayoutAlign=" start">
              <p class="title-text">Destination Address</p>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <div>
              <p class="address-text">{{ pickup.embarkAddress }}</p>
              <div fxLayout="column">
                <button mat-raised-button (click)="goToPickup(pickup)">
                  Leave pickup
                </button>
              </div>
            </div>

            <div fxLayout="column">
              <div fxLayout="row">
                <p class="address-text">{{ pickup.returnAddress }}</p>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="column">
                  <button mat-raised-button (click)="goToPickup(pickup)">
                    Go to pickup
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
