.posted-review-name{
  font-size: 80%;
  font-weight: 500;
}

.posted-name-container{
  padding-bottom: 0%;
  margin-bottom: 0%;
}


.review-container{
  border-bottom: 1px solid #00c853;
  padding-bottom: 0%;
}

.user-profile-name{
  font-size: 150%;
  font-weight: 300;
  color: #00c853;
}

.card-container{
  border-radius: 0%;
  padding:0%;
}

.header-container{
  background-image: linear-gradient(#5efc82,10%, #00c853, 90%,#00c853);
  padding-top: 2.5%;
}

.address-text{
  font-size: 90%;
  font-weight: 350;
}

.date-text{
  font-size: 140%;
  font-weight: 400;
}

.title-text{
  font-size:110%;
  font-weight: 450;
}
.user-name-container{
  margin-top: 3%;
  margin-left: 3%;
}

.user-pickup-container{
  background-image: linear-gradient(#5efc82,60%, #00c853, 90%,#009624);
  border-radius: 2px;
  margin-top: 3%;
  padding: 1%;
}

.content-container{
  padding-top: 4%;
}

.title-text-cont{
  margin-left: 10%;
}

.user.pickup-header-container{
  background-image: linear-gradient(white,60%, #00c853, 90%,#00c853);

}

.star-container{
  margin-left: 10%;
}
