.toolbar{
  position:fixed;
  bottom:0px;
  padding-top: 5%;
  background-color: #00c853;
  height: 15vh;
  width:100%;
}

.tabs-div{

  padding: 0%;
}

.span-text{

  transform: scale(4);
}

.icon-style{
  color: firebrick;
  font-size: 450%;
  text-align: justify;
}


